@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --evo-dark: rgb(20, 21, 22);
  --evo-stone: rgb(226, 224, 213);
}

body {
  background: var(--background);
  color: var(--foreground);
}

button:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
